.avatar {
  background-color: '#22D7FF';
  color: '#fff';
  margin-top: -16px;
}

.btn-group {
  .btn-camera {
    margin-right: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .avatar {
    margin-top: -34px;
    margin-left: -38px;
  }

  .btn-group {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
}
