.navbar {
  background: linear-gradient(180deg, #2b2f53 3.16%, #1d1c34 36.05%);
  margin-left: 80px;

  .nav-item {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.408px;
  }

  .ant-menu-item:hover {
    background-image: url('../../assets/Seletced.svg');
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    overflow-x: scroll;
  }
}
