.container {
  width: 100%;
  height: auto;
}

.content {
  background: #1d1c34;
  box-shadow: -10px 30px 80px 0px rgba(59, 38, 123, 0.7);
}

@media only screen and (max-width: 900px) and (min-width: 501px) {
}
