@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  color: #fff;
  line-height: 1.6;
}
